.sentence-hasPhrase {
    color: black;
    background-color: blue;
}
.sentence-hover {
    color: black;
    background-color: pink;
}
.sentence-click {
    color: black;
    background-color: green;
}