.element-hasData-theme {
    color: black;
    background-color: #C7C9FF;
}
.element-hover-theme {
    color: black;
    background-color: pink;
}
.element-click-theme {
    color: black;
    background-color: #70CC70;
}