.element-hasData-theme {
    color: black;
    background-color: blue;
}
.element-hover-theme {
    color: black;
    background-color: pink;
}
.element-click-theme {
    color: black;
    background-color: green;
}